<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blq.ssnb.baseconfigure">

    <application>
        <activity android:name="blq.ssnb.baseconfigure.BaseFragmentContainerActivity" />
        <activity android:name="blq.ssnb.baseconfigure.search.SimpleSearchActivity" />
    </application>
</manifest>
