<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blq.ssnb.baseconfigure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.MyBaseActivity" />
        <activity android:name=".demo.refresh.RefreshMenuActivity" />
        <activity android:name=".demo.refresh.SwipeRefreshActivity" />
        <activity android:name=".demo.refresh.QuickLoadMoreActivity" />
        <activity android:name=".demo.refresh.SmartSwipeRefreshActivity" />
        <activity android:name=".demo.refresh.RefreshAndLoadMoreActivity" />
        <activity android:name=".demo.PermissionRequestActivity" />
        <activity
            android:name=".demo.SplashActivity"
            android:theme="@style/Splash" />
        <activity android:theme="@style/trans" android:name=".demo.MyImageWallActivity" />
    </application>

</manifest>